.jumbotron {
  background-color: #89beb3;
}

li {
  list-style: none;
}

body {
  background-image: url("../images/background.jpg");
  background-color: #89beb3;

  color: #2e3c58;
  font-family: "Roboto Mono", monospace;
}

ul {
  background-color: #89beb3;
  opacity: 95%;
}

h2 {
  background-color: #89beb3;
  opacity: 95%;
}
